version: '3.8'

services:
  ###> doctrine/doctrine-bundle ###
  db:
    image: "mysql:8.0"
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
    volumes:
      - type: volume
        source: oc_dev
        target: /var/lib/mysql
    ports:
      - "3001:3306"

  php:
    build:
      context: .
      dockerfile: Docker/php/Dockerfile.php
    volumes:
      - type: volume
        source: tls
        target: /root/.symfony/certs
      - type: bind
        source: ./app
        target: /app
      - type: volume
        target: /app/vendor

volumes:
  oc_dev:
    external: true
  tls: