.btn {
    padding: 10px;
    color: inherit;
    border-radius: 5px;
    transition: opacity 0.3s;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}

.btn-primary {
    background-color: var(--primary);
    color: var(--ligth);
}

.btn-secondary {
    background-color: var(--primary-1);
    color: var(--ligth);
}

.btn-light {
    background-color: var(--ligth);
    color: var(--primary);
}

.btn-danger {
    background-color: var(--red-1);
    color: var(--ligth);
}