:root {
    --primary: #22224b;
    --primary-1: #1c1c70;
    --gray: #333;
    --gray-1: #20232a;
    --ligth: #e4e4ec;
    --red-1: #e74c3c;
    --font-family: sans-serif;
    --box-shadow: 0 6px 9px 0 rgb(0 0 0 / 15%);
    --box-shadow-nav: rgb(0 0 0 / 22%) 0 2px 18px 0;
    --text-color: #444;
    --border: 1px solid var(--gray);
    --border-radius: 4px;
}