<footer class="d-flex flex-column align-items-center justify-content-center p-20">
  <span>Copyright &copy; 2022 | Mehdi H. | &lsaquo;Project OC Symf /&rsaquo;, Inc.</span>
  <span class="mt-10">Shared : <a class="btn-light p-5" href="https://www.flaticon.com/free-icons/star" title="star icons">Star icons created by Pixel perfect - Flaticon</a></span>
</footer>