.game {
  width: 100%;
}

.game .game-header {
  box-shadow: 0 0 3px 1px #1c1c70;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 20px;
  width: 80%;
  max-width: 1200px;
  min-width: 400px;
  gap: 10px;
  background-color: var(--primary-light);
}

.game .game-header .game-header-pictures {
  flex-direction: column;
  align-items: center;
  width: 50%;
  min-width: 250px;
}

.game .game-header .game-header-picture-selected {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  max-height: 450px;
}

.overlay {
  position: absolute;
  border-radius: 5px;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
}

.game .game-header .game-header-picture-selected img {
  min-width: 200px;
  height: 400px;
  object-fit: cover;
  border-radius: 5px;
}

.game .game-header .game-header-pictures-min {
  position: relative;
  max-width: 100%;
  overflow-x: auto;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 5px;
}

.game .game-header .game-header-pictures-min::-webkit-scrollbar {
  border-radius: 5px;
  background: var(--primary);
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 10px;
}

.game .game-header .game-header-pictures-min::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: var(--ligth);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.game .game-header .game-header-pictures-min img {
  height: 75px;
  width: 75px;
  object-fit: cover;
  border-radius: 5px;
  border: 2px solid transparent;
  cursor: pointer;
}

.game .game-header .game-header-pictures-min img.active {
  border: 2px solid var(--primary-1);
  cursor: default;
}

.game .game-header-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.game .game-header-title .container-publish {
  display: flex;
  flex-direction: row;
  align-content: center;
  position: absolute;
  top: 10px;
  right: 10px;
}

.game .game-header-title .container-publish .published {
  padding: 10px 20px;
  background-color: #22b42d;
  border-radius: 5px;
  color: var(--ligth);
}

.game .game-header-title .container-publish .not-published {
  padding: 10px 20px;
  background-color: var(--red-1);
  border-radius: 5px;
  color: var(--ligth);
}

.game .game-header-title img.platform-logo {
  height: 40px;
  width: 40px;
  border-radius: 10px;
}

.game .game-body {
  max-width: 1200px;
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.game .game-body a[data-tabs] {
  min-width: 100px;
  background-color: var(--primary-light);
  color: var(--primary);
  border: none;
  box-shadow: 0 0 2px var(--primary);
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  margin-bottom: 2px;
  text-align: center;
}

.game .game-body a[data-tabs]:first-child {
  border-radius: 5px 0 0 0;
}

.game .game-body a[data-tabs]:last-child {
  border-radius: 0 5px 0 0;
}

.game .game-body a[data-tabs].active {
  background-color: var(--primary);
  color: var(--ligth);
  cursor: default;
}

.game .game-body a[data-tabs]:hover:not(.active) {
  opacity: 0.8;
}

.game .game-body .game-body-tabs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 20px;
  box-shadow: 0 0 3px 1px #1c1c70;
  border-radius: 5px;
  background-color: var(--primary-light);
}

.game .game-body-tabs div#tab-about,
.game .game-body-tabs div#tab-comments {
  display: none;
}

.game .game-body-tabs div#tab-about.active,
.game .game-body-tabs div#tab-comments.active {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.game .game-body-tabs div#tab-comments .tab-comment-user,
.game .game-body-tabs div#tab-comments .tab-comment-user .form,
.game .game-body-tabs div#tab-about.active,
.game .game-body-tabs div#tab-about.active .tab-about-content,
.game .game-body-tabs div#tab-comments.active,
.form,
.form .form-item,
.form textarea {
  width: 100%;
}

.game .game-body-tabs div#tab-comments .tab-comment-user {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  align-items: flex-end;
}

.form.hidden,
div.hidden {
  display: none;
}

.form .form-item label {
  text-decoration: underline;
}

.form .form-item input:not(input[type=checkbox]) {
  padding: 10px;
  width: 100%;
}

.form .form-item textarea {
  height: 120px;
  resize: none;
  padding: 10px;
  margin-top: 10px;
}

.game .game-body-tabs div#tab-about.active .tab-about-content {
  position: relative;
}

.game .game-body-tabs div#tab-about.active .tab-about-content #btn-edit-description {
  position: absolute;
  top: 10px;
  right: 10px;
}

.game .game-body-tabs div#tab-comments .tab-comment-user .form .rating-score {
  display: flex;
  flex-direction: row;
}

.game .game-body-tabs div#tab-comments .tab-comment-user .form .rating-score img {
  width: 30px;
  cursor: pointer;
  padding: 5px;
}

.game .game-body-tabs div#tab-comments .comments {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px 0;
}

.game .game-body-tabs div#tab-comments .comments article {
  display: flex;
  flex-direction: column;
  background-color: var(--ligth);
  box-shadow: 0 0 3px var(--primary);
  border-radius: 10px;
  width: 100%;
  align-self: center;
  position: relative;
}

.game .game-body-tabs div#tab-comments .comments article div.comment-action,
.game .game-body-tabs div#tab-comments .comments article div.comment-content,
.game .game-body-tabs div#tab-comments .comments article div.comment-footer {
  padding: 10px;
}

.game .game-body-tabs div#tab-comments .comments article div.comment-action {
  position: absolute;
  right: 10px;
  top: -30px;
}

.game .game-body-tabs div#tab-comments .comments article div.comment-score {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}

.game .game-body-tabs div#tab-comments .comments article div.comment-score img {
  width: 20px;
}

.game .game-body-tabs div#tab-comments .comments article div.comment-footer {
  padding: 5px 20px;
  font-size: 0.8em;
  align-self: flex-end;
  color: #777;
}