<footer class="d-flex flex-column align-items-center justify-content-center p-20">
  <span>Copyright &copy; 2022 | Mehdi H. | &lsaquo;Project OC Symf /&rsaquo;, Inc.</span>
  <div class="d-flex flex-row align-items-center">
    <span class="mr-10 mt-10">Shared :</span>
    <span class="d-flex flex-column mt-10">
    <a class="btn-light p-5" href="https://www.flaticon.com/free-icons/star" title="star icons">Star icons created by Pixel perfect - Flaticon</a>
    <a class="btn-light p-5" href="https://www.flaticon.com/free-icons/arrow" title="arrow icons">Arrow icons created by Freepik - Flaticon</a>
  </span>
  </div>
</footer>